.logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 200px;
}

.logo img {
  width: 100%;
  height: auto;
  max-height: 71px;
  object-fit: contain;
}

@media (max-width: 375px) {
  .logo {
    top: 12%;
    width: 85%;
  }
}

@media (min-width: 768px) {
  .logo {
    top: 124px;
    width: auto;
    max-width: 200px;
  }
}

